---
import amazon from "../assets/amazon.svg?url"
import dribble from "../assets/dribble.svg?url"
import hubspot from "../assets/hubspot.svg?url"
import notion from "../assets/notion.svg?url"
import netflix from "../assets/netflix.svg?url"
import zoom from "../assets/zoom.svg?url"

---

<section class="grid grid-cols-3 place-items-center xl:flex p-5  xl:px-25 lg:p-10  xl:mb-[8.75rem] items-center gap-6 lg:flex-row justify-between mb-8  lg:mb-[4.375rem]">  
<img class="w-[7.75rem] h-12" src={amazon} alt="amazon image">
<img class="w-[7.875rem] h-12" src={dribble} alt="dribble image">
<img class="w-32 h-12" src={hubspot} alt="hubspot image">
<img class="w-[9.0625rem] h-12" src={notion} alt="notion image">
<img class="w-[7.8125rem] h-12" src={netflix} alt="netflix image">
<img class="w-[6.875rem] h-12" src={zoom} alt="zoom image">
</section>